$container_width: 1140px;
$text_color: #222222;

@mixin grid ($columns, $rg) {
    display: grid;
    grid-template-columns: repeat($columns, $container_width/$columns);
    grid-row-gap: $rg;
}

@mixin flex ($direct) {
    display: flex;
    flex-direction: $direct;

}

@mixin text ($fSize, $lnHeight, $fWeight) {
    font-size: $fSize;
    line-height: $lnHeight;
    font-weight: $fWeight;
}

@mixin container($container_width) {
    margin: 0 auto;
    max-width: $container_width;
}